@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  outline: none;
  font-family: "Inter", sans-serif;
  font-size: 0.87rem;
}

.textarea::-webkit-scrollbar,
.sidebar::-webkit-scrollbar,
.chat-message::-webkit-scrollbar {
  width: 5px;
  background: #f5f5f5;
}

.textarea::-webkit-thumb,
.sidebar::-webkit-scrollbar,
.chat-message::-webkit-thumb {
  border-radius: 5px;
  background: #aaa;
}
